.painter{
    background-image: url('cook.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
    width: 100%;
    height: 50vh;
    vertical-align: middle;
}
.head{
   size: 20px;
   font-size:80px;
   color: orange;
   font-weight: 700;
}
.table{
    width: 100%;
}
body{
    overflow-y: auto !important;
    font-size: large !important;
    font-weight: 600 !important;
}
.subhead{
    font-weight: 600;
}
a{
    text-decoration: none !important;
}
.tabl{
    text-align:center !important;
    background-color: powderblue;
    box-shadow: 15px 15px 15px -15px #0F393A;

}
 .phone {
    width: 180px;
}